[2013-01-07 16:18] klokan opened #1 "Front page - link to „read more“ below the „Browse our archives“ returns error message"
What is the address of the page (URL) where you see the problem?

http://www.bmarchives.org/

What steps will reproduce the problem?
1. Click on the "read more"
2. You get error message

What is the expected output? What do you see instead?

I want to go to http://www.bmarchives.org/about page. Instead I get error message.

Please provide any additional information below.

Tested with Internet Exl

[2013-01-07 16:19] klokan commented on #1
This should be now fixed. Unless there is another issue reported we will close this ticket.

[2013-01-07 16:20] klokan opened #2 "Georeferencer integration - a button to georeference a map should be available on the detail page of the map"
- What is the address of the page (URL) where you see the problem?

All pages with details about items, e.g. /items/show/xxxxx.

There should be a new button close the Twitter, etc buttons - allowing with one click to go to Georeferencer.
The button should lead people to georeferencing interface for not-yet georeferenced map and to visualisation for already georeferenced maps.

This way people can

[2013-02-07 15:25] klokan opened #3 "PayPal Button"
Would it be possible to remove the payment button from below each image to the “contact” page (below the address) ? I have my first query regarding payment online and it is a payment for several images.

Please insert the button with the following header & text:

**Ordering**

Please contact us prior to purchase.

[button]

It would be great if this could happen by the beginning of next week, as f

[2013-02-07 15:27] klokan commented on #3
Assigned to @o1da. Scheduled to be done latest on Friday Feb 8th and deployed on both servers.

[2013-02-07 15:44] #1 closed, assigned to nobody

[2013-02-07 18:24] o1da commented on #3
It's done, please check it.

[2013-02-08 11:31] klokan opened #4 "Transfer of the hosting to a new server"
We need to switch the domain and transfer latest data (comments, favourites) to a new server.

We can initiate the transfer to a new server now. The DropNet changed the name servers to Web4U so we control the DNS records. During the next week the registrar change should happen as well.

[2013-02-08 11:46] klokan commented on #4
Temporary domain http://bmarchivesdev.klokantech.com/ configured to test the new server before moving. New server should now accept also www.bmarchives.org - so we can test with /etc/hosts change on a local computer as well.

[2013-02-13 10:13] klokan commented on #4
Transfer successful. Registrar still should be changed.

[2013-02-13 10:13] #4 closed, assigned to o1da

[2013-03-27 13:53] #3 closed, assigned to o1da

[2013-04-08 19:41] klokan opened #5 ""Back to search""
A button placed in the result page. Using the information from cookie to display a correct link back to the search.

[2013-04-09 12:26] klokan opened #6 "Back button after search results does not run in IE8 and IE9"
If I search in bmarchives.org (any combination of parameters) and visit one of the records then by going "Back" with the browser button I am not getting the originally selected search query.

It runs well in Chrome, but not in IE8 and IE9.

[2013-04-09 12:26] klokan opened #7 "Display selected category with "x" under fulltext search box"
... in a place where are now "Maps | Text | Images". Opening curtain is still runing the same way.
By clicking on the "x" the curtain is closed.

In case curtain with Advanced search is open/used put the "X Advanced search" on this place.

If no category is selected / curtain is closed then: "Choose a category link" which will open curtain on click.

[2013-04-09 12:48] klokan commented on #5
Duplicate to #6

[2013-04-09 12:48] #5 closed, assigned to nobody

[2013-04-09 13:10] klokan opened #8 "Change header - remove Home, rename Categories, etc."
The main menu should be adjusted according the screenshot (without too the extra margin on the left)

New items: Show all records | Browse | Advanced search

![Screen Shot 2013-04-09 at 3 40 29 PM](https://f.cloud.github.com/assets/59284/356945/13b8ebd4-a11b-11e2-90dd-d831f65f6ea2.png)

[2013-04-09 13:37] klokan opened #9 "Space under "[Archive catalogue]" and then faded/gray inactive "Categories:" title"
Put margin under "[Archive catalogue]" and then a faded/gray inactive "Categories:" title

Similar to:

![Screen Shot 2013-04-09 at 3 34 32 PM](https://f.cloud.github.com/assets/59284/356932/8f610b82-a11a-11e2-8b86-95f3e7fc964d.png)

[2013-04-09 14:25] klokan opened #10 "OpenSeaDragon as the zoomable viewer embedded in the website"
Let's use http://openseadragon.github.io/ as the zoomable viewer.

The photos should be displayed via image links (part of URL is specification of the width/height - so thumbnail / middle / full size may be done programmatically in JavaScript). It is different from standard Omeka on this project.

The high resolution maps to be displayed via DeepZoom protocol from the image server:
http://www.bmar

[2013-04-09 14:31] klokan opened #11 "Browse page toolbar redesign"
We should slightly restructure the toolbar on the browse page.
- The [] Maps [] Text [] Images should be located on the bottom left, under the timeline with a prefix "Type:"
- There should be "Sort by:" prefix before Popularity | Title | Author | etc.
- The Category with closing [X] should be just under the search box - as described in #7

To be prototyped and reviewed before releasing.

[2013-04-09 15:39] klokan opened #12 "Online Exhibition functionality description / demo"
Short description, example on other installation of Omeka.

Provide estimate for design adjustments for having it in the BMArchives website.

Is it for engagement (part of My Archive?)

[2013-04-09 21:27] klokan opened #13 "Nature's self printing - import new images into the web"
We need to import new images provided on the harddisk into the online storage to have a 1200px size and thumbnails online.

Then import relevant records to the BMArchives database - so that the images appears assigned to the right records of a (type Text).

The records are pages in a book, but each page has an individual record from Docustore already visible on the web.

An example:
http://www.bma

[2013-04-09 21:41] klokan commented on #13
We are waiting for an Excel sheet which binds the filenames of images provided on HDD to correct Docustore identifiers.

[2013-04-09 21:58] klokan opened #14 "Comunity page mockup"
Let's prepare a mockup and plan for "Community" page.

The target is maximal engagement with the people. We should combine the displaying of the comments on the web, with blog, Facebook page http://www.facebook.com/bmarchives.org and other linking to the social networks.

Intergrate the Facebook page more with the website.

How should we improve engagement with the whole website. Plan a strategy a

[2013-04-09 21:59] klokan opened #15 "Georeferencer - new import of the maps which are geographically in groups"
e.g. maps should be in "collections" in the Excel sheet - so that people can choose a random map for selected geographical area.

[2013-04-09 22:15] klokan opened #16 "e-Archives - research and suggestions for how to properly manage online storage of the scans"
Prepare an overview and suggestion on how we should make the digital archiving.

http://journal.code4lib.org/articles/4468

e-Archives
- Online storage as THE place to store images + local HDD backup
- First step (BMArchives team): Collecting all the original data (TIFFs) on a physical storage (HDD) and unifying consistently filenames.
- Definition of a clean WORKFLOW how to add new images
- Autom

[2013-04-11 09:41] klokan commented on #6
@o1da: Please check this in IE. Report here what could be the reason. In case it is caused by an easily fixable bug in the old style JavaScript on the detail page, then let's fix it immediately.
If compiled JavaScript needs to be altered then we join this work with the other JavaScript issues with curtain / category selection and schedule the development.

[2013-04-11 09:42] klokan commented on #5
Marked as not necessary if we can fix the #6

[2013-04-11 10:02] klokan commented on #2
You need to make a JSONP query.

We need to implement:

ADVANCED LINK

In case you want to display/hide a button depending on the status of the map in Georefrencer system it should be done with a JavaScript function which will use extra JSONP query (for example with jQuery).

This way request from JavaScript will allow non-blocking update. Even in case of unavailability of our Georeferencer server

[2013-04-11 11:05] andreasnef opened #17 "Invalid JSON in biographies"
Some biographies contain invalid JSON: http://www.bmarchives.org/items/show/67136. Remove new lines on these bio (check propagation on the web next day).

[2013-04-11 11:06] andreasnef opened #18 "Improve empty biographies"
Extend the minibio box with a short notice in italic aligned to the bottom of the dialog:

`<a href="http://www.bmarchives.org/contact">Need more information?</a>`

Note: Originally this ticket was about "Remove empty minibio". Do not publish JSON bios if no biographical information is contained. This is not requested anymore.

[2013-04-11 11:07] andreasnef opened #19 "Change label of category from "Themes" to "Subjects/Keywords""

[2013-04-12 06:10] andreasnef commented on #17
The actual data did contain the linebreaks, removed all line breaks from this field's content.

[2013-04-12 06:10] #17 closed, assigned to andreasnef

[2013-04-12 10:51] klokan commented on #12
A short introduction: http://miriamposner.com/blog/?p=1477 and a demonstration video of the administration interface: http://www.youtube.com/watch?v=l772yYCxNKE

Exhibitions made with Omeka in Europeana: http://exhibitions.europeana.eu/

[2013-04-16 18:25] o1da commented on #8
Please check it.

[2013-04-16 19:34] klokan commented on #8
There should be a padding/margin between the items - as on the screenshot. But the "Show all records" should be aligned to the B letter of the logo. Please fix it ASAP.

[2013-04-16 20:05] o1da commented on #8
Ok, menu items are aligned.

[2013-04-16 20:26] klokan commented on #8
Thanks

[2013-04-16 20:26] #8 closed, assigned to o1da

[2013-04-17 23:48] klokan commented on #13
Still waiting for the Excel sheet.

[2013-04-18 09:23] AnkeSR commented on #13
Sorry about the delay in answering. I did a spot check of the excel table, the docustore entries and the corresponding digitals and they are fine this side. I will send the excel table via email.

[2013-04-25 06:50] klokan commented on #13
Files are renamed appropriately, rescaled to 1200px max size, uploaded to intranet in a zip:
https://docs.google.com/a/klokantech.com/file/d/0BwUe1kqIRJWScjVnYWZlS3lJaEE/edit?usp=sharing

The renamed unified full-size JPEG files are also stored on the hardisk.
The complete list is: https://gist.github.com/klokan/5457995

Next step is binding the reference to the identifier (e.g. "C.325.I.U1" to "1

[2013-04-27 18:36] o1da commented on #13
Please check it.

[2013-04-27 19:54] klokan commented on #13
Missing image in the http://www.bmarchives.org/items/show/100210167, as mentioned in the comment above:
Careful, some records contain suffix: http://www.bmarchives.org/browse/#q=C.325.I.U1&v=3 :-(

[2013-04-27 20:37] o1da commented on #13
Suffix wasn't problem generally - another records with suffix were ok. But suffix itself in record 100210167 was wrong - reference "C.325.I.U1_medaillon" in database vs "C.325.I.U1_Medaillion" from nature-urls.csv
I tried many things and was confused, but problem was in data instead...

[2013-04-29 19:30] #13 closed, assigned to o1da

[2013-05-01 17:27] klokan commented on #6
This is the most urgent on the project now.

[2013-05-01 17:28] klokan commented on #2
The API is documented also at http://help.georeferencer.com/api

[2013-05-03 17:30] o1da commented on #2
It works and it is deployed, but please tell me exactly where should I place the icon.

[2013-05-05 14:01] o1da commented on #6
I'm unable to solve this problem now :( I see error in IE8 console in javascript from themes/BMArchives/items/show.php. It is on line 58 and it says that OMEKA.SEARCH is not defined while cookieSettings should be loaded. Console in firefox and chrome are clear. This problem doesn't arise always, only once from 3-5 attempts. I tried to comment out parts of source which are related with cookies, but

[2013-05-06 14:13] klokan commented on #6
OK. Thank you. I will check it personally and we will probably schedule rewrite of this old code into Closure Tools, to be more stable and aligned with the rest of the website.

[2013-05-14 12:56] AnkeSR opened #20 "PayPal account & payment issue"
Paypal payments are not being deposited on the mission 21 account but on info@bmarchives.org, to which we have no access. There seems to be a problem with the link of the icon and the connected account. Can you send me any information which may assist before I contact paypal directly? Thanks

[2013-05-15 06:28] o1da commented on #20
I change the link of the icon to mission 21 account. But it itself doesn't solve past payments, please try to add email address info@bmarchives.org to your mission 21 account as alias email. It can be done from
PayPal -> My Account -> Profile -> Add or Edit Email -> Add
It should pair past payments to your correct account, if not - contact paypal directly would be necessary.

[2013-05-24 12:50] klokan commented on #20
@AnkeSR What is the status of this issue? Is it now resolved?

[2013-05-24 13:03] klokan commented on #2
I suggest to add a title: "This map in Google Earth / Maps:" with the orange "Georeferencer" button bellow.
This all should be displayed only for the maps available in Georeferencer pilot in the place of the "Share this item with:", which will move slightly down.
After this is done, please close this ticket.

[2013-05-27 19:28] o1da commented on #2
It is done.

[2013-05-27 19:28] #2 closed, assigned to o1da

[2013-05-28 08:32] AnkeSR commented on #20
Yes, we managed to resolve it last week. Thanks!

[2013-05-28 08:34] klokan commented on #20
Great. I am closing the ticket.

[2013-05-28 08:34] #20 closed, assigned to nobody

[2013-07-23 11:57] klokan commented on #6
The rewrite of the code has happen - we are now internally testing the fix of this ticket - once it testing is over we deploy it on the production website.

[2013-07-24 13:44] AnkeSR opened #21 "Missing portraits"
I have recurrently had problems finding portraits on bm archives, here a few examples from my spot check:

http://www.bmarchives.org/items/show/100208982

http://www.bmarchives.org/items/show/100208348

http://www.bmarchives.org/items/show/100208435

Can you help out?

[2013-07-24 13:46] AnkeSR opened #22 "Search issue"
I have been doing a lot of corrections in the meta data of maps and am struggling to find the maps under their titles, e.g.

Carte des Missions (here the English translation is "Map of missions"). If I enter the reference no. it is no problem but otherwise it doesn't seem to search in the title of the map.

[2013-07-24 14:23] klokan commented on #22
Could you please provide this info:
- the link to this problematic map on the bmarchives.org website (with reference no. in url?) so we can see the updated record. I expect the update from Docustore is visible on the web just fine.
- description of what do you exactly type in the search box in /browse or even better:
- a link (copy&paste of the address bar in you web browser ) so we can reproduce

[2013-07-24 14:24] klokan commented on #21
You did not describe the problem. What shall we do to reproduce your issue?

[2013-07-25 07:29] AnkeSR commented on #21
The digital images of the portraits aren't visible. I just tried Johann Ludwig Krapf and a few more this morning and it seems to be a general problem with the portraits (a recurring problem, if I remember correctly).

[2013-07-25 08:04] AnkeSR commented on #22
I will try my best:
1. Map: General Map of the Gold Coast

First I entered 'General Map of the Gold Coast' in the search box on the homepage and clicked on the fulltext search option that appears in the dropdown. Unfortunately, in this case, it automatically goes to the "search all records" page instead of showing results. If I enter the old reference number (97278) on the homepage, nothing happen

[2013-07-25 08:34] klokan commented on #21
I expect these photos were never on the bmarchives.org website, because we have not received the original images while importing the initial batch of photos to the web.

Then it is a similar problem as Nature's self printing #13.

If we should fix it then we need you to:
- identify all missing pictures (you speak about "portraits" I expect these were scanned together in a batch and are probably al

[2013-07-25 13:35] AnkeSR commented on #21
The portraits (one of the keywords linked to the images from the thesaurus) were part of the digitised images on bmpix.org, i.e. part of the whole photographic image collection that was transferred to bmarchives and were not scanned separately as a batch. I have therefore decided to attempt to identify the missing images, I will however need quite some time to identify all the missing images, plea

[2013-07-25 14:19] klokan commented on #21
Note: another alternative way would be to start to collect all the original scans of BMArchives to create the e-Archive - as mentioned in #16:
- First step (BMArchives team): Collecting all the original data (TIFFs) on a physical storage (HDD) and unifying consistently filenames.

[2013-07-25 14:25] AnkeSR commented on #21
Yes, that is a very good idea and would probably solve two problems in one. I will speak to Guy to speed up things concerning the e-Archive as soon as I am back from leave.

[2013-07-26 14:01] klokan commented on #22
We have fixed this issue - the search should provide the results with an improved ranking and higher relevance.
Now we do performance testing to possibly improve the speed of the fulltext search as well.

[2013-07-29 06:41] klokan commented on #22
Fixed.

The search now prioritise title - so results are more relevant. @AnkeSR, could you please confirm you are satisfied with the results?
Reimplementation of the search has been done to ensure very fast data retrieval.

[2013-08-06 12:16] AnkeSR commented on #22
Generally, the search is faster and efficient, if you prioritise title and not popularity after initial search entry. The search for "carte des missions" still however does not feature in at least the first 5-10 search results which indicates that we would need both title and alternate title to be searched. Is this possible?

[2013-08-06 13:42] klokan commented on #22
It is technically possible, but it may mean about 5 hours of work to do that, because we have to include the alternative title in the visible results list of the search to be able to index it. It also means reindexing the whole metadata database.

@AnkeSR Shall we do the work?

[2013-08-06 13:45] klokan commented on #6
We have a new implementation of the carousel for item page in the code repository. This can be soon deployed on the production server.

@o1da lets discuss schedule for finalisation of the testing and deployment.

[2013-08-06 14:47] AnkeSR commented on #22
I will get back to you on the subject by Thursday.

[2013-09-05 07:15] AnkeSR opened #23 "BM Archives responding very slowly"
We have been struggling to open BM Archives since yesterday, it takes up to at least 30 seconds before it loads and searching is extremely delayed. Doesn't seem to be a problem on this side as other websites load well.

[2013-09-05 10:04] o1da commented on #23
We have just solved this problem. Our server was under the "DDOS attack" from yesterday. It was overloaded with huge quantum of malicious requests. We filtered these requests away.

[2013-09-05 12:07] AnkeSR commented on #23
Ah, that would explain the very strong delays. Thanks for letting me know.

[2013-09-05 14:45] AnkeSR commented on #23
Just wanted to let you know that the website isn't responding.

[2013-10-04 16:28] klokan commented on #23
This has been resolved the same day. Closing the ticket.

[2013-10-04 16:28] #23 closed, assigned to nobody

[2013-10-17 14:18] AnkeSR opened #24 "Double entries in metadata"
Dear Petr,

we have come across the following problems which are easiest sent as screenshots (please see separate email to your address with a listing of the screenshots):

Double entries in metadata (Names & Geography):

NAMES

![screenshot1](https://f.cloud.github.com/assets/59284/1490326/61c94a82-4790-11e3-8e7d-f839dc994461.jpg)
Screenshot1

http://www.bmarchives.org/items/show/59971

Another e

[2013-10-17 14:20] AnkeSR commented on #24
There are double entries in some fields of the metadata. We discovered them under Individuals and Geography mainly. The doubles do not occur with all documents. But for us there was no pattern recognizable.

[2013-10-17 14:22] AnkeSR opened #25 "Return function of browser"
Return function of browser

After having performed a search and opened one item, it is not possible to return to the search results by pressing back space or return button. This happens with Internet Explorer 9 but works fine with some firefox versions.

This issue has been approach before:

https://github.com/klokantech/bmarchives-tickets/issues/6

Its important to be fixed, since our users from

[2013-10-17 14:22] AnkeSR opened #26 "Carousel sorting - order of thumbnails"
Once you’ve selected (opened) an item within the search results back scrolling within the tile bar is inactive. Furthermore, it must be possible to return back to the search results sequence. It seems like after viewing one document, the sorting of the bar changes sometimes (might this be because of the sorting according to popularity?)

[2013-10-17 14:24] AnkeSR opened #27 "Jumping from one single entry within the search results to the next:"
Jumping from one search result to the next is not possible; it jumps to the next (higher) reference no instead of the next object in the tile bar (carousel).

I.e.: Clicking on the right arrow on this page (blue) Should lead to the object in the red rectangle. But it does not.

![screenshot5](https://f.cloud.github.com/assets/59284/1491679/f3205de0-47b3-11e3-970d-e538c85c71a6.jpg)
Screenshot 5

In

[2013-10-17 14:26] AnkeSR opened #28 ""I" missing"
A further issue is the fact that some “i” are missing:

We checkt with the bmpix website. The “I”-information was available there for the examples, but is not on bmarchives. How did this happen/how can it be fixed?

![screenshot7](https://f.cloud.github.com/assets/59284/1491651/4d075a8a-47b3-11e3-8e2d-c38334860290.jpg)
Screenshot 7

http://www.bmarchives.org/items/show/61617

![screenshot8](https:

[2013-10-17 14:27] AnkeSR opened #29 "Jump to page (bottom of page)"
We tried using the jump to function on Internet Explorer, Safari, Google Chrome and Android standard browser and it did not work.

Ther is a field for entering a page to jump to. But there is no button to jump to the page and pressing return does not do it either. All you can do is click the “next”/”last” arrows, which leads you to the next/last page. How can it be, that this was never tested/noti

[2013-10-17 14:35] AnkeSR commented on #26
Sorry it should be "Tile bar" (for lack of the proper name).

[2013-10-23 12:25] AnkeSR opened #30 "Changes: Sort by "Reference""
We should implement new sort by "Reference". It is not default.

[2013-11-07 09:34] klokan commented on #25
Duplicate to #6. IE 9 has been added to the bug report.

[2013-11-07 09:34] #25 closed, assigned to nobody

[2013-11-07 10:03] klokan commented on #24
Thanks for a nice report!

Results of the review:

Screenshot1: http://www.bmarchives.org/items/show/59971
Wuhrmann Anna - once under category [Individuals] and for the second time under [Photographers / Photo Studios]

Screenshot2: http://www.bmarchives.org/items/show/62358
Dorsch, Heinrich Karl - once under category [Individuals] and for the second time under [Photographers / Photo Studios]

Scr

[2013-11-07 13:44] klokan commented on #26
We call it "Carousel" (title of the ticket renamed).

This is going to be fixed together with #6. Carousel has been reimplemented completely for the compatibility with IE.

[2013-11-07 13:52] klokan commented on #28
Can you please provide link to BMPix as well?

This needs to be reviewed together with Andy @andreasnef

It seems three is also a different record in categories for this name, without "(Mr)" suffix, which shows the "i", but only with name: http://www.bmarchives.org/items/show/35122

[2013-11-07 13:59] klokan commented on #14
Mockups for suggested changes: https://drive.google.com/folderview?id=0BxgmYJf4j40Ma28zbE5uSEt6Tlk

[2013-11-07 13:59] klokan commented on #12
Mockups for suggested changes: https://drive.google.com/folderview?id=0BxgmYJf4j40Ma28zbE5uSEt6Tlk

Online visible for example at http://www.bacarchive.org.uk/exhibits

[2013-11-15 16:17] klokan opened #31 "Popularity sorting by clicking on next influences order in pages"
Bug related to fix of the #27 and #26.

Solution needs to be discussed.

[2013-11-15 16:22] klokan commented on #27
Because of the bug #31 the buttons should be hidden by JavaScript in case the carousel is displayed. They stay in HTML. If carousel is not displayed (there are no active cookies) the buttons are visible and runs as before.

[2013-11-18 12:12] o1da commented on #6
I have tested Matto solution and deployed it.

[2013-11-18 12:12] #6 closed, assigned to xurban42

[2013-11-18 12:12] o1da commented on #29
I have tested Matto solution and deploy it.

[2013-11-18 12:12] #29 closed, assigned to xurban42

[2013-11-18 12:14] o1da commented on #27
I have tested Matto solution and deploy it.

[2013-11-18 12:14] #27 closed, assigned to xurban42

[2013-11-18 14:51] klokan commented on #26
The back button in browser should now run. The order of items is influenced by popularity which can change by visiting the item - as described in #31. Closing.

[2013-11-19 14:58] AnkeSR commented on #28
Here one of the links to which the name is connected on bmpix:

http://bmpix.usc.edu/bmpix/controller/view/impa-m30093.html?x=1384873002707

Here the contents of the "i" box on bmpix:

Zürcher, Wilhelm (Mr)

Birth Date: 18.02.1900

Death Date: 25.12.1960

Place of birth: [leer]

Place of origin: Hörstetten {place of origin}

Wedding date: 06.08.32

Profession: farmer (Landwirt)

Relationships: Par

[2013-11-19 15:01] AnkeSR commented on #24
Will get back to you tomorrow (hopefully).

[2013-11-19 15:24] andreasnef commented on #28
The respective information is published on http://m21.docuteam.ch/oaipmh/oai2.php?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:m21.docuteam.ch:61617

One detail, though: the marriage date is not displayed correctly as the year was given with two digits in the database – I just fixed that issue and assume we'll see tomorrow if that solved the issue.

[2013-11-20 10:38] AnkeSR commented on #26
As quote by you:

We call it "Carousel" (title of the ticket renamed).

This is going to be fixed together with #6. Carousel has been reimplemented completely for the compatibility with IE

--> Only partially fixed: within in the first set of results of the carousal it works fine. As soon as you switch to the next set of results within the carousal with the arrow button and open an item,  the caro

[2013-11-20 10:55] AnkeSR commented on #28
Can this issue be resolved by you with the information given by Andi Nef?

[2013-11-26 16:48] klokan commented on #28
This is now fixed. The problem was with the characters "{" and "}" inside of the JSON string.
We are restoring the styling of the info boxes, then this ticket will be closed.

[2013-11-27 10:47] #28 closed, assigned to xurban42

[2013-11-27 14:26] xurban42 commented on #9
Done. Please check "Categories" title style - color, padding.
![screen shot 2013-11-27 at 15 27 34](https://f.cloud.github.com/assets/4047951/1631948/2c0e5262-5770-11e3-9826-9de72f9dbbab.png)

[2013-11-27 14:35] klokan commented on #9
Only internal testing yet - deployment to the public server to be done by @o1da

[2013-11-28 15:33] o1da commented on #9
Deployed

[2013-11-28 15:33] #9 closed, assigned to xurban42

[2013-11-28 17:25] klokan commented on #28
A second related problem detected with Minibio were NEWLINE characters in the OAI JSON string - which is not valid JSON (issue on export from DocuStore). To prevent this we are filtering out the new lines during printing to the web site.

[2013-11-28 19:44] andreasnef commented on #28
Ok, no problem to remove them for OAI. However, in what other way do you want linebreaks to be encoded – I imagine we can't just ignore them? Do you have an example at hand?

[2013-11-29 11:05] klokan commented on #14
Facebook page is the result of discussion on 29-11-2013

[2013-11-29 11:07] klokan commented on #7
29-11-2013: probably solved by new design

[2013-11-29 11:08] klokan commented on #11
29-11-2013: probably solved by new design

[2013-11-29 11:26] klokan commented on #15
KlokanTech will import all maps, we have to create metadata XLS in the format: http://help.georeferencer.com/metadata

[2013-11-29 12:40] klokan commented on #10
29-11-2013: Yes. Both maps and images as they exists in the website (smaller resolution version).

[2013-11-29 12:45] klokan commented on #19
To be done by @andreasnef - it will propagate to website via OAI-PMH.

[2013-11-29 13:04] klokan commented on #22
29-11-2013: To be done ASAP

[2013-11-29 13:19] klokan opened #32 ""My Archive" activated - confusion in search"
The fact that I am searching in My Archive only is not visible enough right now.

Originally suggested solution:
Please insert “My Archive / All Records” above the search box to indicate that it only searches within My Archive. These two should be clickable to be able to switch between a search within My Archive and all records.

To not be implemented at this moment. Reconsider.
It is connected to

[2013-11-29 13:35] klokan commented on #30
29-11-2013: to be implemented.

[2013-11-29 13:38] klokan commented on #31
If we are coming from popularity sorted list the visit of a detail page is not adjusting popularity.

Implementation to be discussed internally @o1da. Probably cookie related.

[2013-11-29 13:40] klokan commented on #26
Discussed. To be fixed by #31.

[2013-11-29 13:40] #26 closed, assigned to xurban42

[2013-11-29 13:49] klokan commented on #24
29-11-2013: These are two issues together:

1) To be fixed by KlokanTech: entries from [Photographers / Photo Studios] should always be displayed only under "Creator". Now they appear under individuals as well.

2) To be fixed in Docustore: on many/all photos the photographers are also mentioned as individuals - which is wrong.

This ticket to be closed once 1) is fixed.

[2013-11-29 14:11] klokan commented on #21
29-11-2013: It is going to be solved together with the digital archive #16.

[2013-12-22 12:41] o1da commented on #22
It is done. Searching is now performed on combined fulltext index title and alt_title.

[2013-12-22 12:41] #22 closed, assigned to o1da

[2013-12-22 13:21] o1da commented on #24
It is not correct, because entries from [Individuals] are now displayed under "Creator" not from [Photographers / Photo Studios]. So if I will not show entries from [Photographers / Photo Studios] under "Individuals" it will not be displayed at all. Please tell me again what entries should I display in which place. Thank you.

[2013-12-23 18:54] o1da commented on #31
It is ok, I'm testing $_COOKIE['settings'])->{'v'}->{'order'}->{'column'} != "popularity"

[2013-12-23 18:54] #31 closed, assigned to o1da

[2013-12-27 10:22] #30 closed, assigned to o1da

[2014-01-06 13:57] AnkeSR opened #33 "Metadata not showing"
This is all the metadata that is showing (after random search)

Fatal error: Call to a member function query() on a non-object in /var/www/www.bmarchives.org/themes/BMArchives/items/show.php on line 168

All showthe same info.

[2014-01-06 14:25] o1da commented on #33
It was error with db connection, I have just corrected it.

[2014-01-06 14:25] #33 closed, assigned to nobody

[2014-01-06 14:26] AnkeSR commented on #33
Thanks!

[2014-01-30 11:22] klokan commented on #10
@xurban42 starts to work on this now

[2014-01-30 14:57] #24 closed, assigned to o1da

[2014-01-31 17:27] xurban42 commented on #10
Done.
OpenSeaDragon has IE8 bug with control buttons: https://github.com/openseadragon/openseadragon/issues/272

[2014-02-01 15:50] #18 closed, assigned to xurban42

[2014-02-07 15:26] AnkeSR opened #34 "Automatic Content-Update not working"
It seems the automatic (daily) content-update between Docustore and Bmarchives does not work anymore. I created several new entries in Docustore over the last two weeks which are still not findable in Bmarchives, i.e.: E-10.101 or B-10.40. Please check your logs and fix this. Thank you!

[2014-02-07 16:51] klokan commented on #34
We are reviewing what the problem could be. First guess is that there is a not allowed special character in XML. Results to be reported soon.

[2014-02-07 19:48] o1da commented on #34
There is a problem with oai server. I receive nothing from oai request. Try this request

http://46.4.125.220/oaipmh/oai2.php?verb=ListRecords&metadataPrefix=oai_dc&from=2014-01-01T00:00:00Z

It should returns all records from the start of this year, but it is empty.

So, we need to contact admin of oai server.

[2014-02-07 19:58] andreasnef commented on #34
Ok, I'll check.

[2014-02-07 20:46] andreasnef commented on #34
Identified, the ssl certificates have expired, so the updates were blocked. Am fixing it now.

[2014-02-07 21:28] andreasnef commented on #34
Resolved. It might be good to run a global update at some point again.

[2014-02-07 21:28] #34 closed, assigned to andreasnef

[2014-02-08 12:38] o1da commented on #34
Database is completely updated now.

[2014-03-06 11:04] AnkeSR opened #35 "Title missing"
http://www.bmarchives.org/items/show/34812

Title is in docustore but missing on the website

[2014-03-06 11:04] AnkeSR opened #36 "Quotes as per 29.01.2014"
Please send us the quotes as discussed in our meeting in November 2013

[2014-03-06 11:15] AnkeSR opened #37 "Dates"
I see there is a problem with dates not reflected in the citation:

http://www.bmarchives.org/items/show/37634
http://www.bmarchives.org/items/show/34281
http://www.bmarchives.org/items/show/41608
http://www.bmarchives.org/items/show/100205676

It seems to be a problem within the non-photographic entries, as you can see here:

http://www.bmarchives.org/items/show/56645
http://www.bmarchives.org/it

[2014-03-06 13:10] AnkeSR opened #38 "Email Spam"
We are experiencing particularly high amounts of spam via our email account which says the following and cannto be filtered because they are coming from the contact form:

Contact from the web form - hahujju - IZcptirxDU​WX
----- Original message -----

X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
         d=1e100.net; s=20130820;
         h=x-gm-message-state:date:to:from:cc:rep

[2014-03-12 13:28] andreasnef commented on #35
Hi Anke

Just checked, the title in docustore is "Vier Jahre in Asante : Tagebücher der Missionare Ramseyer und Kühne aus der Zeit ihrer Gefangenschaft" which is displayed correctly on the website. Am I looking at the wrong issue?

Best, Andreas

Am 06.03.2014 um 12:04 schrieb AnkeSR:

[2014-03-12 13:34] AnkeSR commented on #35
Dear Andi
As you can see, D.002a, as can be seen in the link I sent, shows something totally different. So, you are and aren't looking at the wrong issue. The wrong person (Hermann Gundert - India missionary) features and there is not title, or am I seeing something different?
Let me know.

Anke

[2014-03-14 09:03] andreasnef commented on #35
Hi Anke

I'm sorry, I don't see the issue. The given link – from my point of view – is showing the correct entry. Only the "Verlag des Misionskomptoirs" is not shown on the website, but that could be a decision taken on purpose. Maybe we can do a teamviewer session next week so I get the issue that you're trying to explain.

Enjoy the weekend,

Andreas

Am 12.03.2014 um 14:34 schrieb AnkeSR:

[2014-03-17 13:31] andreasnef commented on #35
Indeed, it seems that the display of the title as well as the "Alternate Title" is not working in IE (tested both on Anke's computer with IE 9 as well as on another machine with IE 11). No problem on OSX with Safari or Firefox.

Andreas

Am 14.03.2014 um 10:03 schrieb Andreas Nef:

[2014-03-18 14:34] klokan commented on #37
There are various ways how datums are transferred from the DocuStore into website in DublinCore format (early,late,proper). Fix based on this report is being made now.

[2014-03-18 14:53] o1da commented on #37
It is done.

[2014-03-18 14:53] #37 closed, assigned to nobody

[2014-03-18 15:07] klokan commented on #38
A proper solution is to use reCaptcha - as it is visible for example at: http://www.bacarchive.org.uk/contact
This can be done after upgrade to new Omeka.

It seems that ignoring all messages containing "[link=" would solve this issue for now as well.

[2014-03-18 15:13] klokan commented on #36
I am sorry for the delay. We were discussing a rather large quote document with alternatives and several options for next three big stages of the upgrade of the BMArchives system (Omeka2+design upgrade, new digital archiving system, automated updates of digital archive and automated billing system).

If you need only non-binding rough estimates instead it can be provided quite fast. Otherwise I st

[2014-03-18 15:22] klokan commented on #35
The issue is related to special characters in the title (and the way how they are encoded in OAI) in combination with the displaying mode of IE9+ and used OpenSans font.
We were originally testing the design in IE8, and the web runs fine there. Problems in IE9+ are new.

Technical details:

It seems the solution of the problem is to use the canonical normalized form in UTF-8 for the texts on the s

[2014-03-18 15:24] klokan commented on #35
Details to the unicode problems: http://msdn.microsoft.com/en-us/library/windows/desktop/dd374126(v=vs.85).aspx

[2014-03-18 15:48] o1da commented on #38
It is done

[2014-03-18 15:48] #38 closed, assigned to o1da

[2014-05-07 06:36] AnkeSR commented on #36
I just wanted to follow up on the quote. Have you been able to establish anything regarding the next stages of the upgrade? Perhaps you could contact Guy and have a chat with him to explain.

[2014-05-23 06:59] klokan opened #39 "Georeferencer progressbar"
There is a new progress bar for the front page - fixing layout breaks. We should switch to this one (embed it via iframe):

http://bmarchives.georeferencer.com/api/gadgets/progressbar/bmarchives

[2014-09-12 19:01] andreasnef opened #40 "category title does not get changed"
Hi Petr
A couple of weeks ago, I chagned data entries affecting the category http://www.bmarchives.org/browse/#c=21098. According to the OAI-Interface the data in dc:subject has been updated for the curtain. However, this does not get reflected on the website. Would you mind taking a look at this issue?

Regards, Andreas

[2014-09-13 09:12] o1da commented on #40
There is a problem on oai server side - we should contact their server admin.
Our oai client receives "500 - internal server error" response for correct queries. Can be checked in web browser too:
http://46.4.125.220/oaipmh/oai2.php?verb=ListRecords&metadataPrefix=oai_dc&from=2014-01-01T00:00:00Z

[2014-09-13 12:28] andreasnef commented on #40
Ok, I'll check.
Am 13.09.2014 11:12 schrieb "Oldrich Vykydal" notifications@github.com:

[2014-09-14 17:56] andreasnef commented on #40
I cannot reproduce the 500 error, although I see that it did appear for some requests only (and that 2014-01-01 did work). What is the setup of the sync on your side? Is it still doing a daily update during night?

One other thing: Would you mind chaining the IP address to the respective hostname: m21.docuteam.ch? It might be that we change the server to a different infrastructure (with more resou

[2014-09-15 11:31] o1da commented on #40
Oai server works now, I can't reproduce any error now too. But it obviously didn't work at saturday and some amount of time back too - there were some gaps between synchronizing. So I ran synchronizing from start of this year and it was succesfull.
All records are updated - please check it and eventually close this ticket.

Url of oai server is changed to m21.docuteam.ch

Oai client is setup to ru

[2014-09-15 13:42] andreasnef commented on #40
Thanks, Oldrich!

[2014-09-15 13:42] #40 closed, assigned to klokan

[2015-01-27 23:51] klokan commented on #39
Fixed as part of Georeferencer service.

[2015-01-27 23:51] #39 closed, assigned to nobody

[2015-02-05 21:27] klokan commented on #36
Provided. Closing.

[2015-02-05 21:27] #36 closed, assigned to klokan

[2015-02-05 21:30] klokan commented on #15
Import finalised in Dec 2014.
2908 maps at http://www.bmarchives.org/georeferencer/

[2015-02-05 21:50] klokan commented on #15
All the maps are now imported as a single group. To be revisited.

[2015-02-06 09:37] klokan commented on #15
Verify existence of the links from detail page.

[2015-03-11 13:23] klokan commented on #15
The groups were specified only vaguely by Anke in email with subject "List of maps" from 2012-11-13.
Attachment: https://drive.google.com/file/d/0BwUe1kqIRJWSZUFHZGR0eDFyaTh3TDRZM2VjS1Y5N1ZuckY0/view?usp=sharing

The complete list of 5013 maps was exported by Olda from the database in the email with subject "export map bmarchives":
https://drive.google.com/file/d/0BwUe1kqIRJWSekhVWDBjaTZpbTRLTy1yM

[2015-03-11 13:29] daliborjanak commented on #15
Imported: https://docs.google.com/spreadsheets/d/1qnHABg7-rQXcWOu__oHSJ0JdW1hpX2aSb50vZb3375Y/edit?usp=sharing
Timestamps were edited to format for georeferencer.

[2015-03-11 13:29] #15 closed, assigned to daliborjanak

[2015-06-10 22:04] #10 closed, assigned to xurban42

[2015-09-17 12:15] #11 closed, assigned to nobody

[2015-09-17 12:16] #32 closed, assigned to nobody

[2015-09-17 12:17] #14 closed, assigned to nobody

[2015-09-17 12:18] #12 closed, assigned to klokan

[2016-01-07 11:58] andreasnef opened #41 "Search function/browse curtain do not work anymore"
Just received the message from mission21 regarding these issues. I can reproduce these errors, but have to leave it to you to fix it.

[2016-01-07 12:02] klokan commented on #41
Related to recent server upgrade. @o1da should be able to fix it soon.
I am sorry this slipped in.

[2016-01-07 12:14] klokan commented on #41
@o1da
The problem:

[code]

It looks like upgrade to MySQLi functions and redeploy of the Omeka Categories plugin is the simplest and fastest solution: http://stackoverflow.com/questions/21797118/deprecated-mysql-connect

[2016-01-07 13:17] o1da commented on #41
It is fixed, all mysql functions are changed to its mysqli equivalents.

[2016-01-07 13:17] #41 closed, assigned to o1da